<h1 style="color: white; text-align: center;">General info about the UAE</h1>
<br>
<h3 style="color: white; text-align: center;">The founding</h3>
<h4 style="color: white; text-align: center;">The UAE is formed by seven emirates and was founded on the 2 December 1971 as a federation. Six of the seven emirates (Abu Dhabi, Dubai, Sharjah, Ajman, Umm Al Quwain and Fujairah) combined on that date. The seventh, Ras al Khaimah, joined the federation
    on 10 February 1972.</h4>
<br>
<h3 style="color: white; text-align: center;">Climate</h3>
<h4 style="color: white; text-align: center;">The rainfall amount is generally around 100 mm a year</h4>
<br>
<h3 style="color: white; text-align: center;">Languages</h3>
<h4 style="color: white; text-align: center;">The official language spoken in the UAE is Arabic and the most popular foreign language spoken is English.</h4>
<br>
<h3 style="color: white; text-align: center;">Typical food</h3>
<h4 style="color: white; text-align: center;">Some of the typical food is: Stuffed Camel, Al Harees, Shawarma and Al Machboos</h4>
<br>
<h3 style="color: white; text-align: center;">Biomes</h3>
<h4 style="color: white; text-align: center;">The main biome in all of United Arab Emirates is the hot desert biome</h4>
<br>
<h3 style="color: white; text-align: center;">Culture</h3>
<h4 style="color: white; text-align: center;">The UAE is a predominantly Muslim country.</h4>