<h1 style="color: white; text-align: center;">General info about the United Arab Emirates (UAE) (1/2)</h1>
<br>
<h3 style="color: white; text-align: center;">The founding</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Formed by seven emirates (Islamic countries)</li>
    <li>Founded on 2nd of December 1971</li>
    <li>Six of seven emirates united on that date</li>
    <li>The seventh joined on the 10th of February 1972</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Political System</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Political system: Federal constitutional monarchy</li>
    <li>UAE has President and Prime Minister, elected by Federal national council (Parliament)</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Money</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Currency: UAE dirham (AED) = 0.25 EUR</li>
    <li>Have a lot of money because of oil</li>
    <li>GDP (Gross domestic product): $41,476 (19th richest country in the world)</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Population</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Population: 9.8 million</li>
    <li>92nd most populated country</li>
    <li>Population density: 99/km²</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Languages</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Official language: Arabic</li>
    <li>Most popular foreign language: English</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Religion</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Religion: Mostly muslim</li>
</ul>