<h1 style="color: white; text-align: center;">General info about the United Arab Emirates (UAE) (1/2)</h1>
<br>
<h3 style="color: white; text-align: center;">The founding</h3>
<h4 style="color: white; text-align: center;">The UAE is formed by seven emirates (Islamic counties) and was founded on the 2 December 1971 as a federation. Six of the seven emirates (Abu Dhabi, Dubai, Sharjah, Ajman, Umm Al Quwain and Fujairah) combined on that date. The seventh, Ras al Khaimah, joined the federation
    on 10 February 1972.</h4>
<br>
<h3 style="color: white; text-align: center;">Political System</h3>
<h4 style="color: white; text-align: center;">The political system in the UAE is Federal constitutional monarchy with a President and a Prime Minister, elected by Federal national council (Parliament)</h4>
<br>
<h3 style="color: white; text-align: center;">Money</h3>
<h4 style="color: white; text-align: center;">The currency: UAE dirham (AED), 1 AED = 0.25 EUR. The UAE might not be a very developed country nevertheless, they still have quite a lot of money because of the oil reserves. GDP (Gross domestic product) is $41,476 (19th richest country in the world)</h4>
<br>
<h3 style="color: white; text-align: center;">Population</h3>
<h4 style="color: white; text-align: center;">The UAE has a population of 9.8 million people and is the 92nd most populated country in the world. The population density is 99/km²</h4>
<br>
<h3 style="color: white; text-align: center;">Languages</h3>
<h4 style="color: white; text-align: center;">The official language in the UAE is Arabic and the most popular foreign language is English.</h4>
<br>
<h3 style="color: white; text-align: center;">Religion</h3>
<h4 style="color: white; text-align: center;">The UAE is mostly a Muslim country.</h4>