<h1 style="color: white; text-align: center;">General info about the United Arab Emirates (UAE)</h1>
<br>
<h3 style="color: white; text-align: center;">Geographical position</h3>
<img src="/public/UAE-Map.jpg" style="position: absolute; left: 89%; top: 32%; transform: translate(-50%, -50%);">
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Middle east/southwest Asia</li>
    <li>Bordering: Gulf of Oman & Persian Gulf</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">The founding</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Formed by seven emirates (Islamic countries: Abu Dhabi, Dubai, Sharjah, Ajman, Umm Al Quwain and Fujairah, Ras al Khaimah)</li>
    <li>Founded on 2nd of December 1971</li>
    <li>Six of seven emirates united on that date</li>
    <li>The seventh joined on the 10th of February 1972</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Population</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>9.8 million (in 2013 15% citizens, 85% <a data-toggle="tooltip" data-placement="top" title="Citizens of other countries" style="color: blue;">expatriates</a>, over 200 nationalities)</li>
    <li>92nd most populated country</li>
    <li>Population density: 99/km²</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Political System</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Federal constitutional monarchy</li>
    <li>President and Prime Minister, elected by Federal national council (Parliament)</li>
</ul>
<img src="/public/UAE-Map_2.png" style="width: 400px; height: 400px; position: absolute; left: 13%; top: 50%; transform: translate(-50%, -50%);">