<h1 style="color: white; text-align: center;">General info about the United Arab Emirates (UAE) (2/2)</h1>
<br>
<h3 style="color: white; text-align: center;">Climate</h3>
<h4 style="color: white; text-align: center;">The UAE has a desert climate, characterized by pleasantly mild winters and very hot, sunny summers, with the humidity of the Persian Gulf that makes the heat unbearable. The rainfall amount is generally around 100 mm a year.</h4>
<br>
<h3 style="color: white; text-align: center;">Biomes</h3>
<h4 style="color: white; text-align: center;">The main biome in all of United Arab Emirates is the hot desert biome</h4>
<br>
<h3 style="color: white; text-align: center;">Natural resources</h3>
<h4 style="color: white; text-align: center;">Oil, natural gas, gems, precious metals</h4>
<br>
<h3 style="color: white; text-align: center;">UAE Exports</h3>
<h4 style="color: white; text-align: center;">Minerals fuels, Gems, precious metals, electronic equipment, machinery, vehicles</h4>
<br>
<h3 style="color: white; text-align: center;">Typical food</h3>
<h4 style="color: white; text-align: center;">Some of the typical food is: Stuffed Camel, Al Harees, Shawarma and Al Machboos</h4>
<br>
<h3 style="color: white; text-align: center;">Geographical position</h3>
<h4 style="color: white; text-align: center;">The United Arab Emirates is situated in the Middle East/southwest Asia, bordering the Gulf of Oman and the Persian Gulf</h4>