<h1 style="color: white; text-align: center;">General info about the United Arab Emirates (UAE) (2/2)</h1>
<h3 style="color: white; text-align: center;">Climate</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Desert climate</li>
    <li>Mild winter and very hot summers</li>
    <li>Rainfall is around 100mm per year</li>
</ul>
<h3 style="color: white; text-align: center;">Biomes</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Biome: Hot desert</li>
</ul>
<h3 style="color: white; text-align: center;">Natural resources</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Oil</li>
    <li>Natural gas</li>
    <li>Gems</li>
    <li>Precious metals</li>
</ul>
<h3 style="color: white; text-align: center;">UAE Exports</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Mineral fuels</li>
    <li>Gems</li>
    <li>Precious metals</li>
    <li>Electronic components</li>
    <li>Machinery</li>
    <li>Vehicles</li>
</ul>
<h3 style="color: white; text-align: center;">Typical food</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Stuffed camel</li>
    <li>Al Harees</li>
    <li>Shawarma</li>
    <li>Al Machboos</li>
</ul>
<h3 style="color: white; text-align: center;">Geographical position</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Middle east/southwest Asia</li>
    <li>Bordering: Gulf of Oman & Persian Gulf</li>
</ul>