<h1 style="color: white; text-align: center;">History of the UAE</h1>
<br>
<img src="/public/Mohmad.png" style="width: 100px; height: 100px; position: absolute; left: 80%; top: 26%; transform: translate(-50%, -50%);">
<h3 style="color: white; text-align: center;">Arrival of Islam</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Islam arrived after opening of Mecca</li>
    <li>Envoys from Prophet Mohammed arrived in AD630 and introduced Islam</li>
    <li>A new era began in the UAE</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">The Portuguese era</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>The Portuguese were amongst the first Europeans to arrive in the UAE</li>
    <li>By 1515, Portuguese fought their way into the Indian Ocean and the Gulf of Oman</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">The Dutch era</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>The loss of Hormuz by the Portuguese in 1622 marked the entry of the Dutch and the English</li>
    <li>The Dutch concluded an agreement through which they earned an enormous profit</li>
    <li>By the 17th century, the Dutch had become the dominant naval power in the Indian Ocean</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">The British era</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>In 1820 to 1853 the British signed a series of agreements with the sheikhs</li>
    <li>The sheikhs had to ensure peace at sea and stop building large ships and erecting fortifications</li>
</ul>
<img src="/public/potugalflag.png" style="width: 150px; height: 150px; position: absolute; left: 22%; top: 40%; transform: translate(-50%, -50%);">
<img src="/public/dutch.png" style="width: 100px; height: 100px; position: absolute; left: 81%; top: 65%; transform: translate(-50%, -50%);">
<img src="/public/britn.png" style="width: 70px; height: 70px; position: absolute; left: 19%; top: 79%; transform: translate(-50%, -50%);">