<h1 style="color: white; text-align: center;">Animals in the UAE</h1>
<br>
<h3 style="color: white; text-align: center;">Mammals</h3>
<h4 style="color: white; text-align: center;">The some of the mammals in the UAE are: Cape hares, sand cats, striped hyenas, red foxes, caracals, two species of gazelle and Arabian wolves, camels and oryxes.</h4>
<br>
<h3 style="color: white; text-align: center;">Invertebrates</h3>
<h4 style="color: white; text-align: center;">Some of the invertebrates in the UAE are: Scorpions, spiders, ants, bees, wasps, moths and beetles.</h4>
<br>
<h3 style="color: white; text-align: center;">Reptiles</h3>
<h4 style="color: white; text-align: center;">Some of the reptiles in the UAE are: Snakes, lizards and geckos.</h4>
<br>
<h3 style="color: white; text-align: center;">Birds</h3>
<h4 style="color: white; text-align: center;">Some of the birds in the UAE are: Vultures, buzzards and falcons.</h4>