<h1 style="color: white; text-align: center;">Economy</h1>
<br>
<img src="/public/moneymoney.png" style="width: 400px; height: 400px; position: absolute; left: 80%; top: 36%; transform: translate(-50%, -50%);">
<h3 style="color: white; text-align: center;">Money</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Currency: UAE dirham (AED) = 0.25 EUR</li>
    <li>Wealthy society because of oil (19th richest country in the world)</li>
    <li><a data-toggle="tooltip" data-placement="top" title="Market value of all final products and services created in one year" style="color: blue;">GDP</a>: $41,476</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Natural resources</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Oil</li>
    <li>Natural gas</li>
    <li>Gems</li>
    <li>Precious metals</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">UAE Exports</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Mineral fuels</li>
    <li>Gems</li>
    <li>Precious metals</li>
    <li>Electronic components</li>
    <li>Machinery</li>
    <li>Vehicles</li>
</ul>
<img src="/public/oilMoneyz.png" style="width: 200px; height: 200px; position: absolute; left: 30%; top: 40%; transform: translate(-50%, -50%);">
<img src="/public/gemos.png" style="width: 200px; height: 200px; position: absolute; left: 29%; top: 69%; transform: translate(-50%, -50%);">