<h1 style="color: white; text-align: center;">Animals in the UAE</h1>
<br>
<h3 style="color: white; text-align: center;">Mammals</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Cape hares</li>
    <li>Sand cats</li>
    <li>Striped hyenas</li>
    <li>Red foxes</li>
    <li>Caracals</li>
    <li>Camels</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Invertebrates</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Scorpions</li>
    <li>Spiders</li>
    <li>Ants</li>
    <li>Bees</li>
    <li>Wasps</li>
    <li>Moths</li>
    <li>Beetles</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Reptiles</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Snakes</li>
    <li>Lizards</li>
    <li>Geckos</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Birds</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Vultures</li>
    <li>Buzzards</li>
    <li>Falcons</li>
</ul>