<h1 style="color: white; text-align: center;">Desert climate</h1>
<br>
<img src="/public/desertos.jpg" style="width: 400px; height: 400px; position: absolute; left: 80%; top: 36%; transform: translate(-50%, -50%);">
<h3 style="color: white; text-align: center;">Weather conditions</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Mild winters and very hot summers</li>
    <li>Rainfall is around 100mm per year</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Fresh water</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Scarce</li>
    <li>Running water in deep valleys in the mountain regions</li>
    <li>Artificial lakes</li>
    <li>Wetlands (Marine, coastal)</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Biomes</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Predominant biome: Hot desert</li>
</ul>