<h1 style="color: white; text-align: center;">History of the UAE</h1>
<br>
<h3 style="color: white; text-align: center;">Arrival of Islam</h3>
<h4 style="color: white; text-align: center;">Islam arrived in the UAE after the opening of Mecca. Envoys from Prophet Mohammed arrived in the UAE in AD630 and introduced Islam. Thus, a new era began in the UAE.</h4>
<br>
<h3 style="color: white; text-align: center;">The Portuguese era</h3>
<h4 style="color: white; text-align: center;">The Portuguese were amongst the first Europeans to arrive on the Arabian Peninsula. By 1515, the Portuguese fought their way into the Indian Ocean and the Gulf of Oman and established themselves there by force of arms. </h4>
<br>
<h3 style="color: white; text-align: center;">The Dutch era</h3>
<h4 style="color: white; text-align: center;">The loss of Hormuz by the Portuguese in 1622 marked the entry of the Dutch and the English to the Middle Eastern markets. The Dutch concluded an agreement through which they earned an enormous profit. By the 17th century, the Dutch had become the
    dominant naval power in the Indian Ocean and Arabian Gulf.</h4>
<br>
<h3 style="color: white; text-align: center;">The British era</h3>
<h4 style="color: white; text-align: center;">In 1820 to 1853 the British signed a series of agreements with the sheikhs. As per these agreements, the sheikhs had to ensure peace at sea and refrain from building large ships and erecting fortifications along the coast. However, regular warfare
    at sea between Arab tribes was prevalent.</h4>