<h1 style="color: white; text-align: center;">Culture</h1>
<br>
<img src="/public/poop.jpg" style="width: 300px; height: 300px; position: absolute; left: 83%; top: 36%; transform: translate(-50%, -50%);">
<img src="/public/kk.jpg" style="width: 200px; height: 200px; position: absolute; left: 25%; top: 56%; transform: translate(-50%, -50%);">
<h3 style="color: white; text-align: center;">Languages</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Official language: Arabic</li>
    <li>Most popular foreign language: English</li>
</ul>
<br>
<h3 style="color: white; text-align: center;">Religion</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Religion: Mostly muslim</li>
    <li>Great tolerance of other religions (Expatriate population)</li>
    <li>Hinduism, Christianity, Sikhism and Buddhism</li>
</ul>
<br>
<br>
<h3 style="color: white; text-align: center;">Typical food</h3>
<ul style="color: white; display: table; margin: 0 auto;">
    <li>Stuffed camel</li>
    <li>Al Harees</li>
    <li>Shawarma</li>
    <li>Al Machboos</li>
</ul>