<!doctype html>
<html lang="en">
<head>
    <title>Geography quiz</title>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket;
        let xhttp;
        let prevValue = "";
        let prevValue2 = "";

        var pin;
        var name;

        function load() {
            if (xhttp==null) {
                if (window.XMLHttpRequest) {
                    // code for modern browsers
                    xhttp = new XMLHttpRequest();
                } else {
                    // code for old IE browsers
                    xhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
            }
        }

        function submitAnswer(index) {
            socket.emit('answeredQuestion', {pin: pin, name: name, answer: index});
            let answerText = document.getElementById("answers").children;
            for (let i = 0;i<answerText.length;i++){
                answerText[i].disabled = true;
            }
        }

        function joinGame() {
            if (prevValue===document.getElementById("id").value && prevValue2===document.getElementById("name").value){
                return;
            }
            prevValue = document.getElementById("id").value;
            prevValue2 = document.getElementById("name").value;

            load();
            pin = document.getElementById("id").value;
            name = document.getElementById("name").value;
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.responseText === "false" || this.responseText === false) {
                        document.getElementById("error").style.display = "block";
                    }else {
                        socket = io();
                        console.log("Connected!");
                        socket.emit('myIdentificationIsHere', {pin: pin, name: name});

                        socket.on('letTheGamesBegin', function (data) {
                            document.getElementById("yourIn").style.display = "none";
                            document.getElementById("slides").style.display = "block";
                        });

                        socket.on('masterLeftUs', function (data) {
                            location.reload();
                        });

                        socket.on('slideData', function (data) {
                            document.getElementById("slide").innerHTML = data.slide;
                        });
                        let clockInterval;
                        socket.on('questionData', function (data) {
                            document.getElementById("slides").style.display = "none";
                            document.getElementById("questionsContainer").style.display = "block";
                            document.getElementById("questionEnd").style.display = "none";
                            document.getElementById("answerQuestion").style.display = "block";

                            document.getElementById("questionNumber").innerText = "Question " + (data.questionIndex+1);
                            document.getElementById("questionText").innerText = data.questionText;
                            let answers = data.answers;
                            let answersHtml = '';
                            for (let i = 0; i<answers.length; i++){
                                if (i+1!==answers.length){
                                    answersHtml+='<button type="button" class="btn btn-primary" style="width: 100%" id="answer' + i + '" onclick="submitAnswer(' + i + ')">' + answers[i].answer + '</button>\n' +
                                        '                        <br>\n' +
                                        '                        <br>';
                                }else {
                                    answersHtml+='<button type="button" class="btn btn-primary" style="width: 100%" id="answer' + i + '" onclick="submitAnswer(' + i + ')">' + answers[i].answer + '</button>\n';
                                }
                            }
                            document.getElementById("answers").innerHTML = answersHtml;
                            document.getElementById("clock").innerText = data.duration + ' seconds left!';

                            let i = data.duration;
                            clockInterval = setInterval(function () {
                                i--;
                                document.getElementById("clock").innerText = i + ' seconds left!';
                                if (i <= 0) {
                                    clearInterval(clockInterval);
                                }
                            }, 1000);
                        });

                        socket.on('questionEnd', function (data) {
                            console.log("Question end");
                            if (clockInterval!=null){
                                clearInterval(clockInterval);
                            }
                            document.getElementById("questionAnswerStatus").innerText = data.correct ? "Correct!" : "Incorrect!";
                            document.getElementById("questionNumberTimeout").innerText = "Question " + (data.questionIndex+1);
                            document.getElementById("streak").innerText = "Streak of " + data.streak;
                            document.getElementById("pointGained").innerText = "+" + data.scoreGained;

                            document.getElementById("questionEnd").style.display = "block";
                            document.getElementById("answerQuestion").style.display = "none";
                        });

                        socket.on('feedbackTime', function (data) {
                            document.getElementById("surveyTime").style.display = "block";
                            document.getElementById("questionsContainer").style.display = "none";
                        });

                        document.getElementById("yourIn").style.display = "block";
                        document.getElementById("gamePinThing").style.display = "none";
                    }
                }
            };
            xhttp.open("POST", "/checkGameSession", true);
            xhttp.setRequestHeader('Content-Type', 'application/json');
            xhttp.send(JSON.stringify({ id: pin, name: name}));
        }

        function submitFeedback(rating) {
            socket.emit('myRating', {rating: rating, pin: pin});
            document.getElementById("buttonsThings").style.display = "none";
            document.getElementById("thxForFeedback").style.display = "block";
        }
    </script>

    <% include ../partials/head.ejs %>
</head>

<body style="background-color: #56baed;">
<!--    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);-->

<div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);" id="gamePinThing">
    <h1>Enter the session pin</h1>
    <br>
    <br>
    <input type="text" class="form-control form-control-lg" id="id">
    <br>
    <h1>Enter your username</h1>
    <br>
    <br>
    <input type="text" class="form-control form-control-lg" id="name">
    <br>
    <div style="display: none" id="error">
        <h5 style="color: red">Username taken/Invalid session pin</h5>
        <br>
    </div>
    <button type="button" class="btn btn-primary" style="width: 100px; height: 50px; position: absolute; left: 50%; transform: translate(-50%, 0px);" onclick="joinGame()">Join</button>
</div>

<div id="yourIn" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none;">
    <h1 style="color: white; text-align: center">You're in the game</h1>
    <h4 style="color: white; text-align: center">Please wait for the game to start</h4>
</div>

<div id="slides" style="display: none;">
    <div id="slide">

    </div>
</div>

<div id="questionsContainer" style="display: none;">
    <div id="answerQuestion">
        <div style="position: absolute; left: 20%; top: 20%; transform: translate(-50%, -50%);">
            <p id="clock" style="color: white">0 Seconds Left!</p>
        </div>
        <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
            <h1 id="questionNumber">Question 1</h1>
            <div class="card" style="width:400px">
                <div class="card-body">
                    <h4 class="card-title" id="questionText">(Actual question goes here)</h4>
                    <!--                        <button type="button" class="btn btn-primary" style="width: 100%" id="answer1">Answer 1</button>-->
                    <div id="answers">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none;" id="questionEnd">
        <h1 id="questionNumberTimeout" style="text-align: center">Question 1</h1>
        <h2 id="questionAnswerStatus" style="text-align: center">Correct!</h2>
        <br>
        <h3 id="streak" style="text-align: center">Streak 2</h3>
        <h3 id="pointGained" style="text-align: center">+0</h3>
    </div>
</div>

<div id="surveyTime" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none;">
    <h1 style="color: white">What did you think of this presentation?</h1>
    <br>
    <div class="card" id="buttonsThings">
        <button id="nextQuestion" class="btn btn-primary" onclick="submitFeedback(0)">I hate it!</button>
        <button id="nextQuestion" class="btn btn-primary" onclick="submitFeedback(1)">Not good</button>
        <button id="nextQuestion" class="btn btn-primary" onclick="submitFeedback(2)">Ok</button>
        <button id="nextQuestion" class="btn btn-primary" onclick="submitFeedback(3)">Good</button>
        <button id="nextQuestion" class="btn btn-primary" onclick="submitFeedback(4)">Excellent</button>
    </div>
    <h1 id="thxForFeedback" style="display: none; text-align: center;">Thanks for your feedback!</h1>
</div>

<% include ../partials/bootsrapScripts.ejs %>
</body>
</html>