<!doctype html>
<html lang="en">
<head>
    <title>Profile</title>

    <script>

    </script>

    <% include ../partials/head.ejs %>
</head>

<body style="background-color: #56baed;">
<!--    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);-->
    <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); ">
        <h1>Enter the session pin</h1>
        <br>
        <br>
        <input type="text" class="form-control form-control-lg">
        <br>
        <button type="button" class="btn btn-primary" style="width: 100px; height: 50px; position: absolute; left: 50%; transform: translate(-50%, 0px);">Join</button>
    </div>

<% include ../partials/bootsrapScripts.ejs %>
</body>
</html>